@model UIA.Models.Character

@{
    ViewData["Title"] = "Home Page";
}

<form method="get" asp-controller="Home" asp-action="Fight" class="user_name">
    @Html.EditorForModel()
    <input type="submit">
</form>
